.static-width{
    background-color: #606060; 
    width: 100%;
    height: 300px; 
    background-image: url(https://www.v-methods.com/images/pal_alpha/pretty_rgba.png), url(https://upload.wikimedia.org/wikipedia/commons/3/30/Signatura_de_Carles_Puigdemont_%E2%80%93_transparent_background.png);
    background-repeat: no-repeat, no-repeat;
}   

 
  
    

   