.static-width{
    width: 300px;
    height: 300px;
    background: url(http://clipart-library.com/clip-art/small-transparent-image-8.htm) no-repeat top-center;
    background-color: red;
    background-size: 200px;
}