.box{
    padding: 20px;
    margin: 20px;
    float: left;
}

.dashed{
    border: 1px seagreen dashed;
}


.dotted{
    border: 1px seagreen dotted;
}


.double{
    border: 4px seagreen double;
}


.groove{
    border: 14px seagreen groove;
}


.inset{
    border: 14px seagreen inset;
}


.outset{
    border: 14px seagreen outset;
}


.ridge{
    border: 14px seagreen ridge;
}


.solid{
    border: 1px seagreen solid;
}