/* Targeting elements */

p{
    font-size: 12px;
    color: green;
}

a{
    text-decoration: underline;
    color: yellow;
}

span{
    text-transform: uppercase;
}

h1{
    font-size: 32px;
}

div{
    width: 100%;
    background-color: grey;
}