/* Targeting elements / tags */
h2{
    font-size: 24px;
    color: green;
}

#content-header{
    font-size: 18px;
    color: red;
}

span{
    display: block;
    color: pink;
}

.deck{
    color: grey
}