.static-width{
    width: 600px;
    height: 600px;
    background-color: #606060;   
    background-image: url(https://www.v-methods.com/images/pal_alpha/pretty_rgba.png);
    background-repeat: no-repeat;
    background-position: top-center;
}
  